/build/
/bin/
/gradle/
/.gradle/
/.settings/
/.classpath
/.factorypath
/.project
/.apt_generated/
generated*
out/
*.iml
gradlew
gradlew.bat

# Exclude the content of .idea folder
.idea/*

# Unexclude the Save Actions Plugin settings file
!.idea/saveactions_settings.xml
